* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --surface-color: #0c8c5e;
  --border-color: #333333;
  --hover-text: #bbbbbb;
  --primary-color: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
}

.logo img {
  height: 25px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--hover-text);
}

.nav-cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  transition: 0.3s;
  font-weight: 600;
}

.contact-sales {
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.contact-sales:hover {
  background: var(--surface-color);
}

.start-for-free {
  background: var(--primary-color);
  color: black;
}

.start-for-free:hover {
  opacity: 0.85;
}

/* hero */
.hero {
  width: 90%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-image img {
  width: 113%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.6;
}

.hero-text {
  margin-top: 50px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.hero-input-cta {
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 4px 4px;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(214, 213, 213, 0.2);
  border-radius: 50px;
  border: 1px solid rgba(214, 213, 213, 0.2);
}

.hero-input-cta input {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  font-weight: 400;
  color: var(--text-color);
  outline: none;
}

.hero-text .hero-badge {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(214, 213, 213, 0.2);
  padding: 4px 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.hero-text .hero-badge button {
  background-color: var(--surface-color);
  padding: 4px 8px;
}

.hero-image-dark img {
  margin-top: 50px;
  border-radius: 20px;
  /* -webkit-mask-image: linear-gradient(black, transparent); */
  mask-image: linear-gradient(black 30%, transparent 100%);
}
