* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --common-color: #1d1b15;
  --common-color2: #49433a;
  --text-color: #ffffff;
  --background-color: #14120b;
  --link-color: #f54e07;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .nav-logo img {
  height: 24px;
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.btn-outline {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--common-color);
  padding: 6px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-bg {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 6px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* hero section */
.hero {
  height: auto;
  padding: 20px;
}

.hero .hero-content {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.hero .hero-content h3 {
  font-size: 28px;
  font-weight: 400;
  color: var(--text-color);
}

.hero .hero-content button {
  padding: 10px 20px;
  font-size: 16px;
}

.hero .hero-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-image img {
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
}

.hero .hero-image .img2 {
  position: absolute;
  width: 90%;
  height: 80%;
}

/* trusted-companies */
.trusted-companies {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.trusted-companies .logo-container {
  display: flex;
  gap: 30px;
}

.trusted-companies .trusted-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

.trusted-companies .logo-container .logo-item {
  width: 125px;
  height: 100px;
  background-color: var(--common-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted-companies .logo-container .logo-item img {
  width: 80px;
}

/* agent section */
.agent {
  margin: 100px 30px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: var(--common-color);
  border-radius: 10px;
}

.agent .agent-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.agent .agent-content p {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}

.agent .agent-content a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

.agent .agent-image {
  width: 70%;
  background-color: var(--common-color2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 40px 40px;
}

.agent .agent-image img {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.agent .agent-video {
  width: 70%;
  background-color: var(--common-color2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 40px 40px;
}

.agent .agent-video video {
  width: 100%;
  border-radius: 10px;
}

.agent .agent-image-last {
  width: 70%;
  height: 600px;
  background-color: var(--common-color2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 40px 0px;
  position: relative;
}

.agent .agent-image-last .agent-last-img-one {
  width: 70%;
  position: absolute;
  border-radius: 10px;
  top: 10%;
  left: 10%;
}

.agent .agent-image-last .agent-last-img-two {
  width: 70%;
  top: 40%;
  right: 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* testimonials */
.testimonials {
  margin: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.testimonials .testimonials-text {
  font-size: 28px;
  font-weight: 400;
  color: var(--text-color);
}

.testimonials .testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
}

.testimonials .testimonials-container .testimonials-item {
  background-color: var(--common-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

.testimonials .testimonials-container .testimonials-item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.testimonials .testimonials-container .testimonials-item .testimonial-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.testimonials
  .testimonials-container
  .testimonials-item
  .testimonial-image
  :nth-child(1) {
  color: var(--text-color);
  font-size: 14px;
}

.testimonials
  .testimonials-container
  .testimonials-item
  .testimonial-image
  :nth-child(2) {
  color: rgb(132, 132, 132);
  font-size: 14px;
}

.testimonials
  .testimonials-container
  .testimonials-item
  .testimonial-image
  img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

/* join-us */
.join-us {
  margin: 100px 30px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: var(--common-color);
  border-radius: 10px;
}

.join-us .join-us-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.join-us .join-us-content p {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}

.join-us .join-us-content a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

.join-us .join-us-image {
  width: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-us .join-us-image img {
  width: 100%;
  border-radius: 10px;
}

/* try-it */
.try-it {
  margin: 100px 30px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
}

.try-it .try-it-text {
  font-size: 60px;
  font-weight: 500;
  color: var(--text-color);
}

.try-it .btn-bg {
  padding: 12px 30px;
  font-size: 16px;
}

/* footer */
.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 120px;
  padding: 20px 30px;
  background-color: var(--common-color);
}

.footer .footer-link-category {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  width: 80%;
}

.footer .footer-link-category .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.footer .footer-link-category .footer-links p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(132, 132, 132);
}

.footer .footer-link-category .footer-links a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
}

.footer .footer-copy-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .footer-copy-right .copy-right-line {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: rgb(132, 132, 132);
}

.footer .footer-copy-right .footer-icons{
  display: flex;
  gap: 20px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: rgb(132, 132, 132);
  background-color: var(--common-color2);
  padding: 4px 6px;
  border-radius: 50px;
}

.footer .footer-copy-right .footer-icons i {
  cursor: pointer;
}

.footer .footer-copy-right .footer-icons  :nth-child(1) {
  background-color: var(--common-color);
  color: var(--text-color);
  padding: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
